*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/mapskey.properties
/captures
.externalNativeBuild
.cxx
local.properties
time_spent_to_destination.txt
recent_route_distance.txt
SharedValues.kt
ca.pem